<!DOCTYPE html>
<html lang="en" ng-app="confusionApp"> <!-- angular app bootstrapped -->

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
         
    <title>Ristorante Con Fusion: Menu</title>
    
	<!-- add grunt definitions  -->
	
    <!-- build:css styles/main.css -->

    <!-- dependencies -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- project specific extensions -->
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">

	<!-- endbuild -->


	<!-- removed polyfills & hacks for old IE versions -->

</head>

<body>

    <div class="container">
        <!-- initalized content with ng-init -->
        <!-- menuCtrl defined as alias -->
        <div class="row row-content" ng-controller="menuController as menuCtrl">
          <div class="col-xs-12">
          
			<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" ng-class="{active:menuCtrl.isSelected(1)}"> <a ng-click="menuCtrl.select(1)" aria-controls="all menu" role="tab">The Menu</a></li>
			    <li role="presentation" ng-class="{active:menuCtrl.isSelected(2)}"> <a ng-click="menuCtrl.select(2)" aria-controls="appetizers" role="tab">Appetizers</a></li>
			    <li role="presentation" ng-class="{active:menuCtrl.isSelected(3)}"> <a ng-click="menuCtrl.select(3)" aria-controls="mains" role="tab">Mains</a></li>
			    <li role="presentation" ng-class="{active:menuCtrl.isSelected(4)}"> <a ng-click="menuCtrl.select(4)" aria-controls="desserts" role="tab">Desserts</a></li>
			</ul>
      
            	<!-- shows dishes based on init values: alt was left to be constant and was corrected -->
             <div class="tab-content">
               <ul class="media-list tab-pane fade in active">
               <!-- filter using text field -->
                <li class="media" ng-repeat="dish in menuCtrl.dishes | filter:menuCtrl.filtText">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{dish.image}} alt="{{dish.name}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </div>

	<!-- take angular js in use -->
	<!-- angular needs to be loaded before using angular variable -->

	<!-- grunt build definitions added -->

	<!-- build:js scripts/main.js -->
	  <script src="../bower_components/angular/angular.min.js"></script>
	  <script src="scripts/app.js"></script>
	<!-- endbuild -->

</body>

</html>
