<ion-view view-title="Contact Us">
  <ion-content>
  
	<div class="card">
       <div class="item item-divider">
         Location information
       </div>	
	    <div class="item item-body item-text-wrap">
	          <h2>
				Our Address	          
			  </h2>
	          <p>
				121, Clear Water Bay Road<br>
				Clear Water Bay, Kowloon<br>
				HONG KONG<br>
				<i class="icon ion-android-call"></i>: +852 1234 5678<br>
				<i class="icon ion-filing"></i>: +852 8765 4321<br>
				<i class="icon ion-android-mail"></i>: <a href="mailto:confusion@food.net">confusion@food.net</a>
	          </p>
	    </div>
	</div>
     
    <div class="button-bar">
	  <a class="button button-positive"><i class="icon ion-android-call"></i> Call</a>
	  <a class="button button-calm"><i class="icon ion-social-skype-outline"></i> Skype</a>
	  <a class="button button-balanced"><i class="icon ion-android-call"></i> Email</a>
	</div>
      
  </ion-content>
</ion-view>