
    <div class="container">
        
    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12">
                 <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <!-- show dish -->
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                           <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="{{dish.name}}">
                        </a>
                    </div>
                    <div class="media-body">
                    	<!-- header of dish -->
                        <h2 class="media-heading">{{dish.name}}
                         	<span class="label label-danger">{{dish.label}}</span>
                         	<span class="badge">{{dish.price | currency}}</span>
                        </h2>
                        <!-- description text -->
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
            
               	<!-- bind ordering criteria to scope using ng-model -->

				Order : <input type="text" name ="order" ng-model="criteria">
            
                <!-- show comments -->                
                <!-- loop over comments-->
                <!-- order them by given criteria from scope with orderBy -->  

           		<ul class="list-unstyled" ng-repeat="comment in dish.comments | orderBy:criteria">
           			<blockquote>
					  <p><span class="badge">{{comment.rating}}</span> {{comment.comment}}</p>
					  <!-- date needs to be formatted  -->
					  <!-- didn't manage for some reason to get direct binding to work: {{c.date | date : 'MM/dd/yyyy'}} -->
					  <footer> <cite title="Source Title">{{comment.author}}</cite>, <span ng-bind="comment.date | date:'MM/dd/yyyy'"></span> </footer>
					</blockquote>
           		</ul>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
            
            	<!-- preview -->
            	<!-- ng-show used to control visibility -->
            
                <ul class="list-unstyled" ng-show="commentForm.$valid && !commentForm.$pristine">
					<blockquote>
					  <p><span class="badge">{{newComment.rating}}</span> {{newComment.comment}}</p>
					  <!-- date needs to be formatted  -->
					  <!-- didn't manage for some reason to get direct binding to work: {{c.date | date : 'MM/dd/yyyy'}} -->
					  <footer> <cite title="Source Title">{{newComment.author}}</cite></footer>
					</blockquote>
                 </ul>
                 
                <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
					
					<!-- rating -->
					<!-- rating possibilities are listed using ng-repeat -->

                    <div class="form-group" ng-class="{ 'has-error' : invalidChannelSelection }">
                        <label for="rating" class="col-sm-2 control-label">Rating</label>
                        <div class="col-sm-10">
                           <div class="radio-inline" ng-repeat="rating in ratings" >
                               <input type="radio" name="{{rating}}" value="{{rating}}" ng-model="newComment.rating">{{rating}}</input>
                           </div>
                        </div>
                    </div>                    
					
					<!-- author -->
					<!-- errors are set to form group of author using ng-class -->
					<!-- help block under author is shown with ng-show -->

					<div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine}">
                        <label for="author" class="col-sm-2 control-label">Author</label>
                        <div class="col-sm-10">
                        	<input type="text" class="form-control" id="author" name="author" placeholder="Enter Author Name" ng-model="newComment.author" required>
                        	<span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Authors name is required.</span>
                        </div>
                    </div>

					<!-- comment -->
					<!-- errors and help are managed like with author -->

                    <div class="form-group"  ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                        <label for="comment" class="col-sm-2 control-label">Comment</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="newComment.comment" required></textarea>
                        	<span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Comment text is required.</span>
                        </div>
                    </div> 

					<!-- save -->
					<!-- submit button disabled with ng-disabled if form is not valid -->

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Save Comment</button>
                        </div>
                    </div>
					
                </form>
            </div>
        </div>
    </div>
        